.barDiv {
    width: 7%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.burger {
    color: white;
    font-size: 20px;
    transition: all .5s ease-in;
    cursor: pointer;
}

.burger:hover {
    color: rgb(5, 191, 204);
}

.nav-menu {
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    left: -100%;
    transition: all .5s ease-in-out;
}

.active {
    left: 0%;
}


.cross-div {
    width: 18%;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: white;
    font-size: 22px;
    transition: all .5s ease-in;
    cursor: pointer;
}

.close:hover {
    color: rgb(5, 191, 204);
}

.nav-link {
    padding-left: 10px;
    cursor: pointer;
    color: rgb(181, 181, 181);
    transition: all .4s ease-out;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.adminSections {
    min-height: 90vh;
}

.formSection {
    width: 100vw;
    height: 90.5vh;
    display: grid;
    place-items: center;
}

.wrapper {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px #d4d4d4;
    align-items: center;
    background: rgb(239, 239, 239);

}

.triangle {
    width: 55%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(223, 25, 127) 50%, white 50%);
}