section {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.wrapper {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px 0px #d4d4d4;
    align-items: center;
    background: rgb(239, 239, 239);

}

.triangle {
    width: 55%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(223, 25, 127) 50%, white 50%);
}